@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #546A7B;
}

.container {
    background-color: #FFFFFC;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.face {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(145deg, #B8CDF8, #6a7da2);
    position: absolute;
    border-radius: 20px;
    border: 3px solid #6a7da2;
}

#front {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

#back {
    backface-visibility: hidden;
}

#card {
    transition: .5s;
    width: 450px;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}

input {
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1em;
}

label {
    font-size: 1.2em;
}

.bandeira {
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 60px;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.401));
}

#chip {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 35%;
    left: 50px;
}

#chip > i {
    font-size: 20px;
    transform: rotatez(90deg);
    color: #FFFFFC;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.401);
}

#card h1 {
    margin: 15px 0 0 25px;
    color: #FFFFFC;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.401);
    font-size: 1.75em;
    font-weight: 600;
}

#number {
    color: #FFFFFC;
    position: absolute;
    font-size: 1.5em;
    left: 45px;
    bottom: 90px;
    letter-spacing: 5px;
    padding: 5px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.401);
}

#name {
    color: #FFFFFC;
    position: absolute;
    bottom: 10px;
    font-size: 1.5em;
    padding: 5px;   
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.401);
    font-size: 1.2em;
    left: 25px;
}

#front > small {
    color: #FFFFFC;
    position: absolute;
    bottom: 60px;
    left: 45px;
    letter-spacing: 5px;
    padding: 5px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.401);
}

#tarja {
    width: 100%;
    position: absolute;
    top: 30px;
    height: 65px;
    background-color: rgb(33, 33, 33);
}

#back p {
    position: absolute;
    letter-spacing: 5px;
    text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.401);
    padding: 5px;
    font-size: 1.5em;
    width: 90%;
    background-color: #FFFFFC;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    text-align: end;
}

#back h1 {
    position: absolute;
    padding: 5px;
    font-weight: 500;
    font-size: 1.5em;
    font-weight: 400;
    top: 85px;
}

#sub {
    display: none;
    border: none; 
    padding: 10px 30px;
    background-color: #346436;
    width: 300px;
    color: #FFFFFC;
    font-weight: 500;
    font-size: 1.5em;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.425);
    cursor: pointer;
    border: 1px solid black;
} 